nav {
  background-color: #2b3945;
}

body {
  background-color: #202c37;
}

.brand-font {
  font-size: 40px;
  text-decoration: none;
  color: #ffffff;
  font-family: 'Comfortaa', cursive;
}

.country-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: 'Rajdhani', sans-serif;
}

.flag-sm {
  width: 317px;
  height: 232px;
}

.flag-lg {
  width: 50%;
  height: 50%;
}

.country-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

