nav {
  background-color: #2b3945;
}

body {
  background-color: #202c37;
}

.brand-font {
  font-size: 30px;
  text-decoration: none;
  color: #ffffff;
}

.countryList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

